<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <button
                class="navbar-toggler collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarTogglerDemo03"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/bands">Home</a>
                </li>
                <!--<%if (loggedUser != null) { %>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/posts"
                  >My posts</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/posts/new"
                  >New post</a
                  >
                </li>
                <% } %>-->
            </ul>

            <!--<%if (loggedUser == null) { %>
            <form class="d-flex ms-2" action="/user/signup" method="get">
              <button class="btn btn-outline-success" type="submit">Sign Up</button>
            </form>
            <form class="d-flex ms-2" action="/user/login" method="get">
              <button class="btn btn-outline-success" type="submit">Login</button>
            </form>
            <% } else { %>
            <form class="d-flex ms-2" action="/user/logout" method="get">
              <button class="btn btn-outline-success" type="submit">Logout</button>
            </form>
            <% } %>-->
        </div>
    </div>
</nav>
