<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/head}"></head>
<nav th:replace="~{partials/navbar}"></nav>

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <h1 class="mt-5 pt-2 text-center">Bands</h1>
    <hr>

    <div class="container" th:each="band : ${bands}">
        <h2 class="me-auto text-center">
            <a class="text-dark text-decoration-none" th:text="${band.name}"
               th:href="@{/band/detail/{band_id}(band_id=${band.id})}"></a>
        </h2>
    </div>
</main>
<nav th:replace="~{partials/footer}"></nav>
</body>
</html>
