<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/head}"></head>
<nav th:replace="~{partials/navbar}"></nav>

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <h1 class="text-center pb-2">Add new band</h1>

    <div class="container text-center">
        <form method="GET" th:action="@{/band/process_new}" th:object="${band}">
            <input type="hidden" th:field="*{id}"/>
            Name: <input th:field="*{name}" type="text" name="name" placeholder="Enter band name">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></span>
            <br><br>
            Genre: <input th:field="*{genre}" type="text" name="genre" placeholder="Enter genre">
            <span th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}" style="color: red;"></span>
            <br><br>
            Country: <input th:field="*{country}" type="text" name="country" placeholder="Enter country">
            <span th:if="${#fields.hasErrors('country')}" th:errors="*{country}" style="color: red;"></span>
            <br><br>
            Founded: <input th:field="*{founded}" type="date" name="founded" placeholder="Enter founded date">
            <span th:if="${#fields.hasErrors('founded')}" th:errors="*{founded}" style="color: red;"></span>
            <br><br>
            Dissolved: <input th:field="*{dissolved}" type="date" name="dissolved" placeholder="Enter dissolved date">
            <span th:if="${#fields.hasErrors('dissolved')}" th:errors="*{dissolved}" style="color: red;"></span>
            <br><br>
            <input type="submit" class="btn btn-success" value="Submit">
        </form>
    </div>
</main>
<nav th:replace="~{partials/footer}"></nav>
</body>

</html>
